<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bridge Course Main Section</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section class="text-gray-600 body-font bridge">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
          >
            Bridge Course Sections
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
            <strong>
              "Congratulations on unlocking the gateway to your success with our
              Bridge Course! 🚀 Get ready to embark on a journey of learning and
              growth like never before. Remember, every step you take brings you
              closer to your goals. Let's conquer new heights together!"
            </strong>
          </p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                  Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Chemistry Course
                </h1>

                <a href="/che">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>

          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                  Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  English Course
                </h1>
                <a href="/eng">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                  Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Math course
                </h1>
                <a href="/mat">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                  Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Physics Course
                </h1>

                <a href="/phy">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>

          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                  Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Biology Course
                </h1>
                <a href="/bio">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>

          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <div
                class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-100"
              >
                <h2
                  class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                >
                Padhega Nepal
                </h2>
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                  Full Hacking Course

                </h1>

                <a href="/hac">
                  <button style="text-decoration: underline">Click</button>
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
  </body>
</html>
